html
    head
        link(rel='stylesheet',href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css",integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT",crossorigin="anonymous")
        title Lista productos
    body
        a(href="http://localhost:8080/")="Volver a la carga de productos"
        div(class="bg-secondary bg-opacity-25 p-4 m-2")
            h1(class="text-primary fw-bold d-block text-center")="Vista de Productos"
            unless productos.length == 0
                table(class="text-white table bg-dark p-2")
                    thead
                        tr(class="text-center")  
                            th(class="text-center col")="Nombre"
                            th(class="text-center col")="Precio"
                            th(class="text-center col")="Foto"
                    tbody
                        each val in productos
                            tr(class="border border-secondary")
                                td
                                    title(class="d-inline text-center")=val.title
                                td
                                    div(class="text-center")
                                        span="Precio: $"+val.price
                                td
                                    div(class="text-center w-25")
                                        img(src=val.thumbnail,class="img-fluid float-end", alt="imagen product")
            else
                span(class="text-secondary text-center bg-warning bg-opacity-25 p-2 fw-bold")="No se encontraron productos"